
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DANH SACH CHỨNG NHẬN - CHỨNG CHỈ</title>
    <link rel="stylesheet" href="~/Content/css/list.css" />
</head>
<body>
    <header>
        <a href="https://www.hutech.edu.vn/"><img src="~/Content/img/student/img_Headtet.gif" style="width: 100%"/></a>
    </header>
    <div id="wrapper">
        <div class="headline">
            <h3>CHỨNG NHẬN</h3>
        </div>
        <ul class="list">
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 1</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 2</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 3</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 4</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 5</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 6</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 7</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <div class="list-top">
                        <a href="" class="list-thumb">
                            <img src="~/Content/img/student/item.png" alt="" />
                        </a>
                    </div>
                    <div class="list-info">
                        <a href="" class="list-name"> Chứng nhận 8</a>
                        <div class="list-date"> Ngày cấp</div>
                        <div class="list-number"> Số lần được nhận</div>
                    </div>
                </div>
            </li>
            </li>
        </ul>
    </div>
</body>
</html>
